/* =============
* Author: Chantouch Sek
* The Application Stylus
* ==============
*/

@import "variables.styl"
@import "storeDigest.styl"
@import "login.styl"
@import "splash.styl"

.color-green
  color: #0076ff;

.right
  padding-right: 10px;

.page__background
  background-color: $background-color !important

.background
  background: $black !important
