/* =============
* Author: Chantouch Sek
* The Login Stylus
* ==============
*/
#login
  .content
    display: table;
    width: 100%;
    height: 100%;
    color: #FFFFFF;

  .content-inner
    display: table-cell;
    vertical-align: middle;
    text-align: center;

  .note-login
    line-height: 36px;
    font-size: 18px;

  .id-input, .password-input
    height: 46px;
    width: 70%;
    max-width: 270px;
    margin: 20px 0;
    padding: 0px 0px;
    background: transparent;
    border: 2px solid #95989A;
    border-radius: 10px;
    text-align: center;
    color: #fff;

  .login-button
    width: 70%;
    max-width: 270px;
    margin-top: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    color: #343434;
    font-weight: bold;
