/* =============
* Author: Chantouch Sek
* The Splash Stylus
* ==============
*/

#splash
  .content
    display: table;
    color: #FFFFFF;
    margin-left: 2em;
    margin-top: 8.5em;
    min-width: 63%;

  .content-inner
    display: block;
    text-align: center;
    border: 1px solid #fff;
    padding: 0.5em 1em;
    border-radius: 20px;
    font-size: 26px;

  .login
    margin-bottom: 10px;
    text-align: left;

  .other
    text-align: left

  .highlight
    color: #4F8FF5;
